        * {
          box-sizing: border-box;
        }

        :root {
          /* COLORS */
          --basics-dark_grey: #434242;
          --basics-white2: #f2f3fa;
          --basics-black: #05070b;
          --basics-white: #fefefe;
          --basics-ultra_dark_grey: #333232;
          --basics-wite_m: #f4f2f2;

          --transparent-dark_grey25: rgba(67 66 66 / 0.25);
          --transparent-black1: rgba(0 0 0 / 0.01);
          --transparent-black80: rgba(0 0 0 / 0.8);
          --transparent-white2: rgba(255 255 255 / 0.02);
          --transparent-black20: rgba(0 0 0 / 0.2);
          --transparent-black30: rgba(0 0 0 / 0.3);
          --transparent-white80: rgba(254 254 254 / 0.8);
          --transparent-dark_blue98: rgba(1 5 20 / 0.98);

          /* SHADOWS */
          --shadow_black30: 1px 2px 2px 0px var(--transparent-black30);

          /* GLASS EFFECT BLUR*/
          --glas8: blur(8px) brightness(100%);
          --glas18: blur(18px) brightness(100%);
          --glas22: blur(22px) brightness(100%);

          /* GLASS EFFECT SHADOW*/
          --glass18-shadow: 0.2px 0.2px 1.2px 0px var(--transparent-black20);

          /* TEXT_TYPE */
          --font-family-lexend: "Lexend", Helvetica;

          --font-style-normal: normal;

          --font-size-m: 12px;
          --font-size-l: 14px;
          --font-size-xl: 16px;
          --font-size-xxl: 20px;

          --font-size-m-rem: 0.75rem;
          --font-size-l-rem: 0.875rem;
          --font-size-xl-rem: 1rem;
          --font-size-xxl-rem: 1.25rem;

          --font-weight-light: 300;
          --font-weight-reg: 400;
          --font-weight-bold: 700;
        }

        .xxl-reg {
          font-family: var(--font-family-lexend);
          font-size: var(--font-size-xxl);
          font-style: var(--font-style-normal);
          font-weight: var(--font-weight-reg);
        }

        .xl-reg {
          font-family: var(--font-family-lexend);
          font-size: var(--font-size-xl);
          font-style: var(--font-style-normal);
          font-weight: var(--font-weight-reg);
        }

        .l-bold {
          font-family: var(--font-family-lexend);
          font-size: var(--font-size-l);
          font-style: var(--font-style-normal);
          font-weight: var(--font-weight-bold);
        }

        .l-reg {
          font-family: var(--font-family-lexend);
          font-size: var(--font-size-l);
          font-style: var(--font-style-normal);
          font-weight: var(--font-weight-reg);
        }

        .m-reg {
          font-family: var(--font-family-lexend);
          font-size: var(--font-size-m);
          font-style: var(--font-style-normal);
          font-weight: var(--font-weight-reg);
        }

        .m-light {
          font-family: var(--font-family-lexend);
          font-size: var(--font-size-m);
          font-style: var(--font-style-normal);
          font-weight: var(--font-weight-light);
        }

        .section-name {
          font-family: var(--font-family-lexend);
          font-size: var(--font-size-xl);
          font-style: var(--font-style-normal);
          font-weight: var(--font-weight-reg);
          letter-spacing: 4.8px;
        }

        body {
          margin: 0px;
          background: var(--basics-white);
          overflow-x: hidden;
          font-family: var(--font-family-lexend);
        }

        /* general */

        /* Flexbox para distribuir las tarjetas */
        .cards-container {
          display: flex;
          flex-wrap: wrap;
          /* Permite que las tarjetas se muevan a la siguiente línea si no caben */
          gap: 16px;
          /* Espacio entre las tarjetas */
          margin-bottom: 16px;
          justify-content: flex-start;
          align-items: flex-start;
          height: fit-content;
        }


        /* screen - main */


        .main {
          align-items: center;
          background-color: transparent;
          display: flex;
          flex-direction: column;
          gap: 32px;
          justify-content: center;
          left: 0px;
          max-width: 786px;
          min-width: 100%;
          overflow: hidden;
          overflow-x: hidden;
          padding: 24px 16px;
          position: relative;
          top: 0px;
        }

        /* BACKGROUND-VECTOR  */
        .main .page__background-vector {
          background-color: transparent;
          height: 1632px;
          left: 705px;
          position: fixed;
          top: -310px;
          width: 605px;
          z-index: -20;
          /* transform: rotate(45deg); */
        }

        @media (max-width:888px) {
          /* BACKGROUND-VECTOR  */
          .main .page__background-vector {
            width: 358.83px;
            height: 1549.65px;
            position: fixed;
            left: 22.24px;
            top: -300.81px;
            transform: rotate(-45deg);
          }
        }

        @media (max-width:525px) {
          /* BACKGROUND-VECTOR  */
          .main .page__background-vector {
            width: 358.83px;
            height: 1549.65px;
            position: fixed;
            left: 22.24px;
            top: -155.81px;
            transform: rotate(-45deg);
          }
        }
        


        /* ***************************HEADER******************************* */
        .main .header {
          -webkit-backdrop-filter: var(--glas22);
          backdrop-filter: var(--glas22);
          align-items: center;
          align-content: center;
          align-self: center;
          background-color: var(--transparent-white80);
          border-radius: 20px;
          display: flex;
          flex: 0 0 auto;
          flex-direction: column;
          gap: 12px;
          justify-content: center;
          max-width: 1434px;
          min-width: 304px;
          padding: 4px 12px;
          position: relative;
          width: 100%;
        }

        .main .header__about-me {
          align-items: flex-end;
          align-self: stretch;
          background-color: transparent;
          display: flex;
          flex: 0 0 auto;
          flex-wrap: wrap;
          gap: 32px 32px;
          justify-content: center;
          position: relative;
          width: 100%;
        }

        .main .about-me__f1 {
          align-items: center;
          background-color: transparent;
          display: inline-flex;
          flex: 0 0 auto;
          gap: 8px;
          height: 110px;
          min-width: 164px;
          position: relative;
        }

        .main .about-me__picture {
          align-items: center;
          background-color: transparent;
          display: flex;
          gap: 10px;
          justify-content: center;
          min-width: 90px;
          position: relative;
          width: 90px;
        }

        .main .about-me__img {
          box-shadow: var(--shadow_black30);
          border-radius: 50px;
          background-color: transparent;
          height: 94px;
          object-fit: cover;
          position: relative;
          width: 94px;
        }

        .main .about-me__f2 {
          align-items: flex-start;
          align-self: stretch;
          background-color: transparent;
          display: inline-flex;
          flex: 0 0 auto;
          flex-direction: column;
          gap: 4px;
          justify-content: flex-end;
          min-width: 164px;
          padding: 20px 0px;
          position: relative;
        }

        .main .about-me__name {
          background-color: transparent;
          color: var(--basics-black);
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          position: relative;
          text-align: left;
          width: fit-content;
        }

        .main .about-me__role {
          background-color: transparent;
          color: var(--basics-dark_grey);
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          position: relative;
          text-align: left;
          width: fit-content;
        }

        .main .about-me__degree {
          background-color: transparent;
          color: var(--basics-black);
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          position: relative;
          text-align: left;
          width: fit-content;
        }

        .main .about-me__description {
          align-items: center;
          background-color: transparent;
          display: flex;
          flex: 1;
          flex-grow: 1;
          gap: 10px;
          justify-content: center;
          padding: 20px 0px;
          position: relative;
        }

        .main .about-me__description-text {
          background-color: transparent;
          color: var(--basics-dark_grey);
          flex: 1;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-top: -1.00px;
          position: relative;
          text-align: left;
        }

        .main .about-me__contacts {
          align-items: center;
          background-color: transparent;
          display: inline-flex;
          flex: 0 0 auto;
          flex-wrap: wrap;
          gap: 16px 16px;
          height: 110px;
          justify-content: flex-end;
          position: relative;
        }

        /* ***************************SECTIONS******************************* */
        .main .sections {
          -webkit-backdrop-filter: var(--glas8);
          backdrop-filter: var(--glas8);
          background-color: var(--transparent-white2);
          border-radius: 20px;
          /* display: flex;
          flex: 0 0 0px;
          flex-wrap: wrap;
          gap: 16px 16px;
          justify-content: center;
          align-items: flex-start;
          align-self: center; */
          max-width: 1426px;
          min-width: 330px;
          padding: 16px;
          position: relative;
          width: 100%;
        }

        .main .section-certifications {
          /* min-width: 638px; */
        }

        .main .section_body-certifications {
          display: block;

        }

        .main .certifications__f1 {
          display: flex;
          align-items: flex-start;
          flex-wrap: wrap;
          gap: 16px 16px;
          justify-content: center;
          min-width: 296px;
          flex-grow: 1;
        }

        .main .section__card-N {
          align-items: flex-start;
          flex: 1;
          flex-grow: 1;
        }

        .main .certification__degree-date-XejEPL {
          margin-top: -1.00px;
        }

        .main .card__degree-0gnyH1 {
          align-items: center;
          align-self: stretch;
          background-color: transparent;
          display: flex;
          flex: 0 0 auto;
          gap: 16px;
          justify-content: center;
          padding: 0px 3px;
          position: relative;
          width: 100%;
        }

        .main .section-experience {
          min-width: 304px;
        }

        .main .section_body-lAscOp {
          align-items: flex-start;
          flex-wrap: wrap;
          gap: 16px 16px;
          justify-content: center;
        }

        .main .card__experience-nDjm12 {
          align-items: center;
          align-self: stretch;
          background-color: transparent;
          display: flex;
          flex: 0 0 auto;
          flex-direction: column;
          gap: 8px;
          padding: 0px 8px;
          position: relative;
          width: 100%;
        }

        .main .experience__company-zc9L1q {
          align-items: center;
          align-self: stretch;
          background-color: transparent;
          display: flex;
          flex: 0 0 auto;
          gap: 18px;
          position: relative;
          width: 100%;
        }

        .main .icons-xU1IDg {
          height: 28px;
          width: 28px;
        }

        .main .certification__company-name-xU1IDg {
          background-color: transparent;
          color: var(--basics-dark_grey);
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          position: relative;
          text-align: left;
          width: fit-content;
        }

        .main .certification__degree-zc9L1q {
          align-items: center;
          align-self: stretch;
          background-color: transparent;
          display: flex;
          flex: 0 0 auto;
          gap: 16px;
          justify-content: center;
          padding: 0px 3px;
          position: relative;
          width: 100%;
        }

        .main .section-PSojmK {
          max-width: 1434px;
          min-width: 754px;
        }

        .main .section_body-dQDVSo {
          align-items: flex-start;
          flex-wrap: wrap;
          gap: 16px 16px;
          justify-content: center;
        }

        .main .section-QKH3sU {
          max-width: 1434px;
          min-width: 754px;
        }

        .main .section_body-jvfWA6 {
          align-items: center;
          flex-direction: column;
          gap: 16px;
        }

        .main .section__card-Techs {
          align-items: center;
          align-self: stretch;
          flex: 0 0 auto;
          width: 100%;
        }

        .main .card__tecks-1zGCVa {
          align-items: flex-start;
          align-self: stretch;
          background-color: transparent;
          display: flex;
          flex: 0 0 auto;
          flex-wrap: wrap;
          gap: 16px 16px;
          justify-content: center;
          padding: 0px 8px;
          position: relative;
          width: 100%;
        }

        .main .tech-81Wu0H {
          background: linear-gradient(180deg, rgb(162.00000554323196, 70.00000342726707, 137.00000703334808) 0%, rgb(143.00000667572021, 143.00000667572021, 143.00000667572021) 45.89996337890625%, rgb(129.62499797344208, 15.554993525147438, 98.62772047519684) 90.12361764907837%);
        }

        .main .icons-mMWH13 {
          height: 16px;
          width: 16px;
        }

        .main .tech-K5cAN2 {
          background: linear-gradient(180deg, rgb(52.000000700354576, 122.00000032782555, 180.00000447034836) 0%, rgb(255, 202.00000315904617, 29.000000171363354) 45.89996337890625%, rgb(7.729325797408819, 82.75820642709732, 144.92499858140945) 90.12361764907837%);
        }

        .main .tech__icon-ACuReO {
          background-color: transparent;
          height: 16px;
          position: relative;
          width: 16px;
        }

        .main .tech-FQEzhC {
          background: linear-gradient(180deg, rgb(10.000000353902578, 207.00000286102295, 131.00000739097595) 0%, rgb(255, 114.0000008046627, 98.00000175833702) 45.89996337890625%, rgb(3.659274182282388, 156.8250024318695, 97.735695540905) 90.12361764907837%);
        }

        .main .icons-snUJV5 {
          height: 16px;
          width: 16px;
        }

        .main .tech-SFWywJ {
          background: linear-gradient(180deg, rgb(238.00000101327896, 81.00000277161598, 59.00000028312206) 0%, rgb(255, 171.79200410842896, 162.3499819636345) 45.89996337890625%, rgb(206.12500101327896, 34.97599080204964, 10.993323102593422) 90.12361764907837%);
        }

        .main .icons-wxiiNU {
          height: 16px;
          width: 16px;
        }

        .main .tech-7MxxRR {
          background: linear-gradient(180deg, rgb(63.000000044703484, 139.0000069141388, 190.0000038743019) 0%, rgb(86.00000247359276, 180.00000447034836, 244.0000006556511) 45.89996337890625%, rgb(8.907992150634527, 103.52920666337013, 167.0250079035759) 90.12361764907837%);
        }

        .main .icons-SSe3Fa {
          height: 16px;
          width: 16px;
        }

        .main .tech-lBjqkf {
          background: linear-gradient(180deg, rgb(216.24999850988388, 198.00000339746475, 75.12500122189522) 0%, rgb(50.000000819563866, 51.00000075995922, 48.000000938773155) 47.999998927116394%, rgb(203.57500344514847, 178.2608985900879, 9.500177074223757) 100%);
        }

        .main .icons-AJXHTS {
          height: 16px;
          width: 16px;
        }

        .main .tech-y5sXxd {
          background: linear-gradient(180deg, rgb(31.000000052154064, 98.00000175833702, 174.00000482797623) 0%, rgb(52.000000700354576, 125.00000014901161, 198.00000339746475) 45.89996337890625%, rgb(5.906410189345479, 68.25323715806007, 138.97501945495605) 90.12361764907837%);
        }

        .main .icons-pmRshW {
          height: 16px;
          width: 16px;
        }

        .main .tech-Smycwd {
          background: linear-gradient(180deg, rgb(228.0000016093254, 77.00000301003456, 38.0000015348196) 0%, rgb(255, 108.00000116229057, 57.00000040233135) 45.89996337890625%, rgb(228.0000016093254, 38.0000015348196, 38.0000015348196) 90.12361764907837%);
        }

        .main .icons-Jai0ei {
          height: 16px;
          width: 16px;
        }

        .main .tech-XzQJx1 {
          background: linear-gradient(180deg, rgb(43.00000123679638, 63.000000044703484, 77.00000301003456) 0%, rgb(16.000000946223736, 161.0000056028366, 225.00000178813934) 45.89996337890625%, rgb(29.06432691961527, 67.7176558971405, 94.77501600980759) 90.12361764907837%);
        }

        .main .icons-VDjihQ {
          height: 16px;
          width: 16px;
        }

        .main .tech-Y3ldD4 {
          background: linear-gradient(180deg, rgb(7.000000057742, 105.00000134110451, 173.00000488758087) 0%, rgb(120.00000044703484, 207.00000286102295, 245.00000059604645) 45.89996337890625%, rgb(4.9810197204351425, 75.55518373847008, 124.5250104367733) 90.12361764907837%);
        }

        .main .icons-fURYIV {
          height: 16px;
          width: 16px;
        }

        .main .footer {
          -webkit-backdrop-filter: var(--glas22);
          align-items: center;
          align-self: center;
          backdrop-filter: var(--glas22);
          background-color: var(--transparent-white80);
          display: flex;
          flex: 0 0 auto;
          flex-direction: column;
          gap: 8px;
          justify-content: center;
          max-width: 1434px;
          min-width: 304px;
          padding: 8px 16px;
          position: relative;
          width: 100%;
        }

        .main .footer__text-ew1d9x {
          align-self: stretch;
          background-color: transparent;
          color: var(--basics-dark_grey);
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-top: -1.00px;
          position: relative;
          text-align: center;
        }

        .main .span0-tCK2lO {
          font-style: normal;
        }

        .main .span1-tCK2lO {
          font-family: var(--font-family-lexend);
          font-size: var(--font-size-m);
          font-style: normal;
          font-weight: 600;
          letter-spacing: 0.00px;
        }

        .main .span2-tCK2lO {
          font-style: normal;
        }

        .main .about-me__contact {
          align-items: center;
          background-color: transparent;
          display: inline-flex;
          flex: 0 0 auto;
          gap: 10px;
          justify-content: center;
          position: relative;
        }

        .main .about-me__contact-icon {
          background-color: transparent;
          height: 16px;
          position: relative;
          width: 16px;
        }

        .main .about-me__contact-text {
          background-color: transparent;
          color: var(--basics-dark_grey);
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          margin-top: -0.50px;
          position: relative;
          text-align: left;
          width: fit-content;
        }

        .main .card__certification {
          align-items: center;
          align-self: stretch;
          background-color: transparent;
          display: flex;
          flex: 0 0 auto;
          flex-direction: column;
          gap: 8px;
          justify-content: center;
          padding: 0px 8px;
          position: relative;
          width: 100%;
        }

        .main .card__project {
          align-items: center;
          align-self: stretch;
          background-color: transparent;
          display: flex;
          flex: 0 0 auto;
          flex-direction: column;
          gap: 8px;
          justify-content: center;
          padding: 0px 8px;
          position: relative;
          width: 100%;
        }

        .main .certification__degree {
          align-items: center;
          align-self: stretch;
          background-color: transparent;
          display: flex;
          flex: 0 0 auto;
          gap: 16px;
          justify-content: center;
          padding: 0px 3px;
          position: relative;
          width: 100%;
        }

        .main .certification__degree-date {
          background-color: transparent;
          color: var(--basics-dark_grey);
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          position: relative;
          text-align: left;
          width: fit-content;
        }

        .main .certification__degree-icon {
          background-color: transparent;
          height: 24px;
          position: relative;
          width: 24px;
        }

        .main .certification__degree-text {
          background-color: transparent;
          color: var(--basics-dark_grey);
          flex: 1;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          position: relative;
          text-align: left;
        }

        .main .certification__degree-date {
          background-color: transparent;
          color: var(--basics-dark_grey);
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          position: relative;
          text-align: left;
          width: fit-content;
        }

        .main .certification__degree-icon {
          background-color: transparent;
          height: 24px;
          position: relative;
          width: 24px;
        }

        .main .certification__degree-text {
          background-color: transparent;
          color: var(--basics-dark_grey);
          flex: 1;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          position: relative;
          text-align: left;
        }

        .main .certification__institution {
          align-items: center;
          align-self: stretch;
          background-color: transparent;
          display: flex;
          flex: 0 0 auto;
          gap: 18px;
          justify-content: center;
          position: relative;
          width: 100%;
        }

        .main .certification__institution-icon {
          background-color: transparent;
          height: 28px;
          position: relative;
          width: 28px;
        }

        .main .certification__institution-name {
          background-color: transparent;
          color: var(--basics-dark_grey);
          flex: 1;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          position: relative;
          text-align: left;
        }

        .main .icons {
          background-color: transparent;
          position: relative;
        }

        .main .project__button {
          background-color: transparent;
          height: 25.239990234375px;
          margin-bottom: -1.24px;
          position: relative;
          width: 24px;
        }

        .main .project__description {
          align-self: stretch;
          background-color: transparent;
          color: var(--basics-dark_grey);
          flex: 1;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          position: relative;
          text-align: left;
        }

        .main .project__f1 {
          align-items: flex-start;
          align-self: stretch;
          background-color: transparent;
          display: flex;
          flex: 0 0 auto;
          gap: 10px;
          justify-content: center;
          position: relative;
          width: 100%;
        }

        .main .project__f2 {
          align-items: center;
          align-self: stretch;
          background-color: transparent;
          display: flex;
          flex: 1;
          flex-direction: column;
          flex-grow: 1;
          gap: 10px;
          overflow: hidden;
          position: relative;
        }

        .main .project__f3 {
          align-items: center;
          align-self: stretch;
          background-color: transparent;
          display: flex;
          flex: 0 0 auto;
          gap: 10px;
          justify-content: center;
          position: relative;
          width: 100%;
        }

        .main .project__image--frame {
          position: relative;
          width: 110px;
          height: 110px;
        }

        .main .project__image {
          display: block;
          height: 110px;
          width: 110px;
          border-radius: 20px;
          border: 3px solid var(--basics-dark_grey);
        }

        .main .project__image--overlay {
          position: absolute;
          background-color: var(--transparent-dark_grey25);
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 20px;
        }

        .main .project__name {
          align-self: stretch;
          background-color: transparent;
          color: var(--basics-dark_grey);
          flex: 1;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin-top: -1.00px;
          position: relative;
          text-align: left;
        }

        .main .project__tech {
          align-items: center;
          background-color: var(--basics-ultra_dark_grey);
          border-radius: 30px;
          display: flex;
          flex: 1;
          flex-grow: 1;
          gap: 10px;
          justify-content: center;
          padding: 2px 8px;
          position: relative;
        }

        .main .project__tech-text {
          background-color: transparent;
          color: var(--basics-white);
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          margin-top: -1.00px;
          position: relative;
          text-align: center;
          width: fit-content;
        }

        .main .project__techs {
          align-items: flex-start;
          align-self: stretch;
          background-color: transparent;
          display: flex;
          flex: 0 0 auto;
          flex-wrap: wrap;
          gap: 8px 8px;
          justify-content: center;
          position: relative;
          width: 100%;
        }

        .main .section {
          align-items: flex-start;
          background-color: transparent;
          display: flex;
          flex: 1;
          flex-direction: column;
          flex-grow: 1;
          gap: 16px;
          padding: 16px;
          position: relative;
        }

        .main .section__card {
          -webkit-backdrop-filter: var(--glas18);
          backdrop-filter: var(--glas18);
          background-color: var(--transparent-white80);
          border-radius: 20px;
          box-shadow: var(--glass18-shadow);
          display: flex;
          gap: 16px;
          justify-content: center;
          min-width: 296px;
          padding: 8px;
          position: relative;
        }

        .main .section__title {
          background-color: transparent;
          color: var(--basics-dark_grey);
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          position: relative;
          text-align: center;
          width: fit-content;
        }

        .main .section_body {
          align-self: stretch;
          background-color: transparent;
          display: flex;
          flex: 0 0 auto;
          position: relative;
          width: 100%;
        }

        .main .section_header {
          align-items: center;
          align-self: stretch;
          background-color: transparent;
          border-radius: 20px 20px 17px 17px;
          display: flex;
          flex: 0 0 auto;
          gap: 16px;
          justify-content: center;
          padding: 0px 0px 0px 8px;
          position: relative;
          width: 100%;
          height: fit-content;
        }



        .main .section_header .f2 {
          -webkit-backdrop-filter: var(--glas18);
          align-items: center;
          backdrop-filter: var(--glas18);
          background-color: var(--transparent-white80);
          border-radius: 20px;
          box-shadow: var(--glass18-shadow);
          display: inline-flex;
          flex: 0 0 auto;
          flex-direction: column;
          justify-content: center;
          padding: 5.400000095367432px 8px;
          position: relative;
        }

        .main .section_header .f2 .icon {
          background-color: transparent;
          height: 16px;
          position: relative;
          width: 16px;
        }

        .main .section_header .f2 .chevron {
          background-color: transparent;
          height: 5px;
          position: relative;
          width: 9.5px;
        }

        .main .tech {
          align-items: center;
          background-color: transparent;
          border-radius: 30px;
          display: inline-flex;
          flex: 0 0 auto;
          gap: 8px;
          padding: 2px;
          position: relative;
        }

        .main .tech__back {
          -webkit-backdrop-filter: var(--glas18);
          align-items: center;
          backdrop-filter: var(--glas18);
          background-color: var(--basics-white);
          border-radius: 30px;
          box-shadow: var(--glass18-shadow);
          display: inline-flex;
          flex: 0 0 auto;
          flex-direction: column;
          gap: 10px;
          justify-content: center;
          padding: 2px 8px;
          position: relative;
        }

        .main .tech__f1 {
          align-items: center;
          align-self: stretch;
          background-color: transparent;
          display: flex;
          flex: 0 0 auto;
          gap: 8px;
          justify-content: center;
          position: relative;
          width: 100%;
        }

        .main .tech__name {
          background-color: transparent;
          color: var(--basics-dark_grey);
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-top: -1.00px;
          position: relative;
          text-align: left;
          width: fit-content;
        }

        