* {
    box-sizing: border-box;
}

:root {
    --black: #000000;
    --black-2: #00000005;
    --cape-cod: #424141;
    --coconut: #fdfdfd;
    --coconut-2: #fdfdfdcc;
    --mine-shaft: #323232;
    --stack: #8c8b8b;

    --font-size-l: 14px;
    --font-size-m: 12px;
    --font-size-xl: 16px;
    --font-size-xxl: 20px;

    --font-family-lexend: "Lexend", Helvetica;
}

.xxl-reg {
    font-family: var(--font-family-lexend);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
}

.xl-reg {
    font-family: var(--font-family-lexend);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
}

.l-bold {
    font-family: var(--font-family-lexend);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0px;
}

.l-reg {
    font-family: var(--font-family-lexend);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
}

.m-reg {
    font-family: var(--font-family-lexend);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
}

.m-light {
    font-family: var(--font-family-lexend);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0px;
}

.lexend-normal-stack-14px {
    color: var(--stack);
    font-family: var(--font-family-lexend);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 400;
}

:root {}


/* screen - page */

.page {
    align-items: center;
    background-color: var(--coconut);
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    left: 0px;
    overflow: hidden;
    overflow-x: hidden;
    padding: 24px 8px;
    position: relative;
    top: 0px;
}

.page .page__background-vector {
    background-color: transparent;
    height: 636px;
    left: 3px;
    position: absolute;
    top: 210px;
    width: 327px;
}

.page .header {
    -webkit-backdrop-filter: blur(14px) brightness(100%);
    align-items: center;
    align-self: stretch;
    backdrop-filter: blur(14px) brightness(100%);
    background-color: #fdfdfdfa;
    border-radius: 20px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    min-width: 304px;
    padding: 8px 16px;
    position: relative;
    width: 100%;
}

.page .header__about-me
 {
    align-items: center;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    gap: 8px 8px;
    justify-content: center;
    position: relative;
    width: 100%;
}

.page .about_me__info-Txosqx {
    align-items: center;
    background-color: transparent;
    display: flex;
    flex: 1;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 16px 16px;
    height: 110px;
    min-width: 164px;
    position: relative;
}

.page .about_me__info_f1-OY58Bc {
    align-items: flex-start;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    min-width: 164px;
    position: relative;
    width: 174px;
}

.page .name-Z3rXKF {
    background-color: transparent;
    color: var(--black);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    width: fit-content;
}

.page .role-Z3rXKF {
    background-color: transparent;
    color: var(--stack);
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    text-align: left;
    width: 164px;
}

.page .titulation-Z3rXKF {
    align-self: stretch;
    background-color: transparent;
    color: var(--cape-cod);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    text-align: left;
}

.page .about_me__contacts-OY58Bc {
    align-items: center;
    background-color: transparent;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 16px;
    height: 16px;
    position: relative;
}

.page .about_me__contact_icon-KbWxK8 {
    background-color: transparent;
    height: 16px;
    position: relative;
    width: 16px;
}

.page .iconabout_me__contact_icon-ZeMp6O {
    background-color: transparent;
    height: 16px;
    position: relative;
    width: 16px;
}

.page .about_me__picture-Txosqx {
    align-items: center;
    background-color: transparent;
    box-shadow: 1px 2px 2px #0000004c;
    display: flex;
    gap: 10px;
    height: 100px;
    justify-content: space-around;
    position: relative;
    width: 100px;
}

.page .img-Lnosks {
    background-color: transparent;
    height: 90px;
    object-fit: cover;
    position: relative;
    width: 90px;
}

.page .about_me__description-Txosqx {
    align-items: center;
    background-color: transparent;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 10px;
    justify-content: center;
    min-width: 272px;
    position: relative;
}

.page .i-am-a-lucky-optimis-KyqmCg {
    background-color: transparent;
    color: var(--cape-cod);
    flex: 1;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
}

.page .sections-aWWDPv {
    align-items: center;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    position: relative;
    width: 100%;
}

.page .section-WJrnRY {
    align-items: center;
}

.page .section_body-Ugw0XM {
    align-items: flex-start;
}

.page .card__option-Tx0zjJ {
    flex-direction: column;
    gap: 8px;
}

.page .icons-gVd1fp {
    height: 28px;
    width: 28px;
}

.page .card__degree_text-Gxqfon {
    color: var(--cape-cod);
    flex: 1;
    font-weight: 700;
    margin-top: -1.00px;
}

.page .card__degree_text-1oYjel {
    color: var(--stack);
    font-weight: 300;
    width: fit-content;
}

.page .card__option-Q3tmp7 {
    flex-direction: column;
    gap: 8px;
}

.page .icons-rQEFl2 {
    height: 28px;
    width: 28px;
}

.page .card__degree_text-mAOFDx {
    color: var(--cape-cod);
    flex: 1;
    font-weight: 700;
    margin-top: -1.00px;
}

.page .card__degree_text-nyiVkn {
    color: var(--stack);
    font-weight: 300;
    width: fit-content;
}

.page .card__option-xZvLqD {
    flex-direction: column;
    gap: 8px;
}

.page .icons-YUtsTM {
    height: 28px;
    width: 28px;
}

.page .card__degree_text-ybnCx0 {
    color: var(--cape-cod);
    flex: 1;
    font-weight: 700;
}

.page .card__degree_text-Jc5ZKT {
    color: var(--stack);
    font-weight: 300;
    width: fit-content;
}

.page .card__degree_text-Uj6rxv {
    color: var(--cape-cod);
    flex: 1;
    font-weight: 700;
}

.page .card__degree_date-Uj6rxv {
    background-color: transparent;
    color: var(--stack);
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    text-align: left;
    width: fit-content;
}

.page .section-xsvhGg {
    align-items: flex-start;
    justify-content: center;
}

.page .icons-XRiQvU {
    height: 16px;
    width: 16px;
}

.page .section_body-weauYt {
    align-items: center;
    padding: 0px 4px;
}

.page .card__company-mbyxzL {
    align-items: center;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex: 0 0 auto;
    gap: 18px;
    position: relative;
    width: 100%;
}

.page .icons-T4lDno {
    height: 28px;
    width: 28px;
}

.page .card__company_name-T4lDno {
    background-color: transparent;
    color: var(--cape-cod);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    text-align: left;
    width: fit-content;
}

.page .card__company_f1-mbyxzL {
    align-items: flex-start;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.page .card__company_role-dOAMr7 {
    background-color: transparent;
    color: var(--cape-cod);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    width: fit-content;
}

.page .card__company_date-dOAMr7 {
    background-color: transparent;
    color: var(--stack);
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    width: fit-content;
}

.page .section-zGYB9e {
    align-items: flex-start;
    justify-content: center;
}

.page .icons-CzuEi2 {
    height: 16px;
    width: 16px;
}

.page .section_body-8WLX5M {
    align-items: center;
    justify-content: center;
    padding: 0px 4px;
}

.page .cards-9xJNwB {
    justify-content: center;
}

.page .cards-t3JdA4 {
    justify-content: center;
}

.page .card__project_button-HHNq0Q {
    margin-bottom: -1.24px;
}

.page .project_tech_text-f6xevj {
    margin-left: -0.50px;
    margin-right: -0.50px;
}

.page .cards-03EzZx {
    justify-content: center;
}

.page .card__project_button-qP9EOu {
    margin-bottom: -1.24px;
}

.page .section-qihjSd {
    align-items: flex-start;
    justify-content: center;
}

.page .section_body-aF77wz {
    align-items: flex-start;
    justify-content: space-around;
}

.page .card__option-E3v5ix {
    flex-wrap: wrap;
    gap: 16px 16px;
}

.page .tech-EW5GZa {
    background: linear-gradient(180deg, rgb(162.00000554323196, 70.00000342726707, 137.00000703334808) 0%, rgb(143.00000667572021, 143.00000667572021, 143.00000667572021) 45.89996337890625%, rgb(129.62499797344208, 15.554993525147438, 98.62772047519684) 90.12361764907837%);
}

.page .icons-SHd0lx {
    height: 16px;
    width: 16px;
}

.page .tech-IBeFIR {
    background: linear-gradient(180deg, rgb(52.000000700354576, 122.00000032782555, 180.00000447034836) 0%, rgb(255, 202.00000315904617, 29.000000171363354) 45.89996337890625%, rgb(7.729325797408819, 82.75820642709732, 144.92499858140945) 90.12361764907837%);
}

.page .tech__icon-pl1YPv {
    background-color: transparent;
    height: 16px;
    position: relative;
    width: 16px;
}

.page .tech-Yjjn75 {
    background: linear-gradient(180deg, rgb(10.000000353902578, 207.00000286102295, 131.00000739097595) 0%, rgb(255, 114.0000008046627, 98.00000175833702) 45.89996337890625%, rgb(3.659274182282388, 156.8250024318695, 97.735695540905) 90.12361764907837%);
}

.page .icons-dW4Xwv {
    height: 16px;
    width: 16px;
}

.page .tech-tlztkm {
    background: linear-gradient(180deg, rgb(238.00000101327896, 81.00000277161598, 59.00000028312206) 0%, rgb(255, 171.79200410842896, 162.3499819636345) 45.89996337890625%, rgb(206.12500101327896, 34.97599080204964, 10.993323102593422) 90.12361764907837%);
}

.page .icons-VIiOfn {
    height: 16px;
    width: 16px;
}

.page .tech-0OhmGh {
    background: linear-gradient(180deg, rgb(63.000000044703484, 139.0000069141388, 190.0000038743019) 0%, rgb(86.00000247359276, 180.00000447034836, 244.0000006556511) 45.89996337890625%, rgb(8.907992150634527, 103.52920666337013, 167.0250079035759) 90.12361764907837%);
}

.page .icons-L51Ohg {
    height: 16px;
    width: 16px;
}

.page .tech-m0fQTB {
    background: linear-gradient(180deg, rgb(216.24999850988388, 198.00000339746475, 75.12500122189522) 0%, rgb(50.000000819563866, 51.00000075995922, 48.000000938773155) 47.999998927116394%, rgb(203.57500344514847, 178.2608985900879, 9.500177074223757) 100%);
}

.page .icons-1qgtQ1 {
    height: 16px;
    width: 16px;
}

.page .tech-68tHHU {
    background: linear-gradient(180deg, rgb(31.000000052154064, 98.00000175833702, 174.00000482797623) 0%, rgb(52.000000700354576, 125.00000014901161, 198.00000339746475) 45.89996337890625%, rgb(5.906410189345479, 68.25323715806007, 138.97501945495605) 90.12361764907837%);
}

.page .icons-x8QERx {
    height: 16px;
    width: 16px;
}

.page .tech-Oo8M7q {
    background: linear-gradient(180deg, rgb(228.0000016093254, 77.00000301003456, 38.0000015348196) 0%, rgb(255, 108.00000116229057, 57.00000040233135) 45.89996337890625%, rgb(228.0000016093254, 38.0000015348196, 38.0000015348196) 90.12361764907837%);
}

.page .icons-fk3xhx {
    height: 16px;
    width: 16px;
}

.page .tech-nTdcME {
    background: linear-gradient(180deg, rgb(43.00000123679638, 63.000000044703484, 77.00000301003456) 0%, rgb(16.000000946223736, 161.0000056028366, 225.00000178813934) 45.89996337890625%, rgb(29.06432691961527, 67.7176558971405, 94.77501600980759) 90.12361764907837%);
}

.page .icons-ktepqH {
    height: 16px;
    width: 16px;
}

.page .tech-dV6Xak {
    background: linear-gradient(180deg, rgb(7.000000057742, 105.00000134110451, 173.00000488758087) 0%, rgb(120.00000044703484, 207.00000286102295, 245.00000059604645) 45.89996337890625%, rgb(4.9810197204351425, 75.55518373847008, 124.5250104367733) 90.12361764907837%);
}

.page .icons-x2QdCU {
    height: 16px;
    width: 16px;
}

.page .footer-aWWDPv {
    -webkit-backdrop-filter: blur(15px) brightness(100%);
    align-items: center;
    align-self: stretch;
    backdrop-filter: blur(15px) brightness(100%);
    background-color: var(--coconut-2);
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    padding: 8px 16px;
    position: relative;
    width: 100%;
}

.page .x2024-dayron-peeta-al-xYJsAm {
    align-self: stretch;
    background-color: transparent;
    color: var(--cape-cod);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    text-align: center;
}

.page .span0-Hyzu6T {
    font-style: normal;
}

.page .span1-Hyzu6T {
    font-family: var(--font-family-lexend);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.00px;
}

.page .span2-Hyzu6T {
    font-style: normal;
}

.page .about_me__contact_option {
    align-items: center;
    background-color: transparent;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    position: relative;
}

.page .about_me__contact_text {
    background-color: transparent;
    color: var(--stack);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -0.50px;
    position: relative;
    text-align: left;
    width: fit-content;
}

.page .card__degree {
    align-items: center;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex: 0 0 auto;
    gap: 16px;
    justify-content: center;
    position: relative;
    width: 100%;
}

.page .card__degree_icon {
    background-color: transparent;
    height: 24px;
    position: relative;
    width: 24px;
}

.page .card__degree_text {
    background-color: transparent;
    font-style: normal;
    line-height: normal;
    position: relative;
    text-align: left;
}

.page .card__institution {
    align-items: center;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex: 0 0 auto;
    gap: 18px;
    justify-content: center;
    position: relative;
    width: 100%;
}

.page .card__option {
    align-items: center;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    padding: 0px 8px;
    position: relative;
    width: 100%;
}

.page .card__project_button {
    background-color: transparent;
    height: 25.24005126953125px;
    position: relative;
    width: 24px;
}

.page .card__project_description {
    align-self: stretch;
    background-color: transparent;
    color: var(--cape-cod);
    flex: 1;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    text-align: left;
}

.page .card__project_f1 {
    align-items: flex-start;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    position: relative;
    width: 100%;
}

.page .card__project_f2 {
    align-items: center;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    overflow: hidden;
    position: relative;
}

.page .card__project_f3 {
    align-items: center;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    position: relative;
    width: 100%;
}

.page .card__project_image {
    background-color: transparent;
    height: 110px;
    object-fit: cover;
    position: relative;
    width: 110px;
}

.page .card__project_name {
    align-self: stretch;
    background-color: transparent;
    color: var(--cape-cod);
    flex: 1;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
}

.page .card__project_techs {
    align-items: flex-start;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    gap: 8px 8px;
    justify-content: center;
    position: relative;
    width: 100%;
}

.page .cards {
    align-items: center;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    padding: 0px 8px;
    position: relative;
    width: 100%;
}

.page .icons {
    background-color: transparent;
    position: relative;
}

.page .name-of-the-isntitution {
    background-color: transparent;
    color: var(--cape-cod);
    flex: 1;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    text-align: left;
}

.page .project_tech {
    align-items: center;
    background-color: var(--mine-shaft);
    border-radius: 30px;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 10px;
    justify-content: center;
    padding: 2px 8px;
    position: relative;
}

.page .project_tech_text {
    background-color: transparent;
    color: var(--coconut);
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    text-align: center;
    width: fit-content;
}

.page .section {
    -webkit-backdrop-filter: blur(10px) brightness(100%);
    align-self: stretch;
    backdrop-filter: blur(10px) brightness(100%);
    background-color: var(--black-2);
    border-radius: 20px;
    box-shadow: 0.5px 1px 2px #00000033;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    min-width: 288px;
    padding: 2px 0px 16px;
    position: relative;
    width: 100%;
}

.page .section_body {
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    gap: 16px 4px;
    position: relative;
    width: 100%;
}

.page .section_body_card {
    -webkit-backdrop-filter: blur(15px) brightness(100%);
    align-items: flex-start;
    backdrop-filter: blur(15px) brightness(100%);
    background: linear-gradient(180deg, rgba(253.71173232793808, 253.71173232793808, 253.71173232793808, 0.5) 0%, rgba(253.71173232793808, 253.71173232793808, 253.71173232793808, 0.800000011920929) 50%, rgba(253.71173232793808, 253.71173232793808, 253.71173232793808, 0.5) 100%);
    background-color: transparent;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 8px;
    justify-content: center;
    min-width: 304px;
    padding: 8px;
    position: relative;
}

.page .section_header {
    -webkit-backdrop-filter: blur(14px) brightness(100%);
    align-items: center;
    align-self: stretch;
    backdrop-filter: blur(14px) brightness(100%);
    background-color: var(--coconut-2);
    border-radius: 20px 20px 0px 0px;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    padding: 10px 20px;
    position: relative;
    width: 100%;
}

.page .section_header__icon {
    background-color: transparent;
    height: 16px;
    position: relative;
    width: 16px;
}

.page .section_header__text {
    background-color: transparent;
    letter-spacing: 4.20px;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    text-align: center;
    text-shadow: 0px 0px 16px #fdfdfd;
    width: fit-content;
}

.page .tech {
    align-items: center;
    background-color: transparent;
    border-radius: 30px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    padding: 2px;
    position: relative;
}

.page .tech__back {
    -webkit-backdrop-filter: blur(14px) brightness(100%);
    align-items: center;
    backdrop-filter: blur(14px) brightness(100%);
    background-color: var(--coconut);
    border-radius: 30px;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 2px 8px;
    position: relative;
}

.page .tech__f1 {
    align-items: center;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex: 0 0 auto;
    gap: 8px;
    justify-content: center;
    position: relative;
    width: 100%;
}

.page .tech__name {
    background-color: transparent;
    color: var(--cape-cod);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    width: fit-content;
}

</style><script id="anime-js-script" src="https://cdn.jsdelivr.net/npm/animejs@3.1.0/lib/anime.min.js" integrity="sha256-98Q574VkbV+PkxXCKSgL6jVq9mrVbS7uCdA+vt0sLS8=" crossorigin="anonymous"></script><script id="imgloaded-js-script" src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script><style id="action-links-styles">@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

#anima-interface {
    transition: all 0.5s ease-in-out;
}

#anima-watermark {
    transition: all 0.5s ease-in-out;
    display: none;
}

#anima-watermark-link {
    position: fixed;
    bottom: 20px;
    height: 30px;
    border-radius: 1000px;
    background: #3B3B3B;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    transition: width 0.25s cubic-bezier(0.175, 0.885, 0.320, 1.275);
    text-decoration: none;
    color: #fff;
    padding: 8px 16px 8px 11px;
    font-family: Mulish, sans-serif;
    font-size: 12px;
}

#anima-watermark-link .text {
    margin-left: 6px;
}

.omniview-anima-action-links .link {
    height: 30px;
    width: 30px;
    border-radius: 1000px;
    background: #3B3B3B;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    transition: width 0.25s cubic-bezier(0.175, 0.885, 0.320, 1.275);
    text-decoration: none;
    color: #fff;
}

.omniview-anima-action-links #comment-link .text,
.omniview-anima-action-links #code-link .text {
    display: none;
    font-size: 12px;
    margin-right: 5px;
}

.omniview-anima-action-links #comment-link:hover,
.omniview-anima-action-links #code-link:hover {
    width: 105px;
}

.omniview-anima-action-links #comment-link.pop-active,
.omniview-anima-action-links #code-link.pop-active {
    width: 105px;
    background: #FF6250;
}

.omniview-anima-action-links #comment-link.pop-active .text,
.omniview-anima-action-links #code-link.pop-active .text {
    display: block
}

.omniview-anima-action-links #comment-link:hover .text,
.omniview-anima-action-links #code-link:hover .text {
    display: block;
}

.link.navigation {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 32px;
    color: #fff;
    font-size: 12px;
    cursor: default;
    padding: 0 5px;
}

.link.navigation .icon {
    margin: 0 6px;
    fill: none;
    stroke: currentColor;
    cursor: pointer;
}

.link.navigation .icon.disabled {
    opacity: 0.5;
    cursor: default;
}


.link.navigation .home-icon {
    margin-left: 6px;
    fill: currentColor;
    stroke: currentColor;
    cursor: pointer;
}

.omniview-anima-action-links .restart {
    height: 30px;
    padding: 0 12px;
    background: #3B3B3B;
    border-radius: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #f1f1f1;
    font-size: 12px;
}

.omniview-anima-action-links {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-family: Mulish, sans-serif;
    transition: all 0.5s ease-in-out;
    opacity: 1;
}

.omniview-anima-action-links>*+* {
    margin-right: 0;
    margin-left: 10px;
}

.idle {
    opacity: 0;
    pointer-events: none;
}

#popoverOpener {
    position: absolute;
    left: 50%;
    margin-left: -10vw;
    text-align: center;
    top: 45vh;
    width: 20vw;
}


.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    font-family: "sans-serif";
    font-size: 14px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.popover.top {
    margin-top: -12px
}

.popover.right {
    margin-left: 10px
}

.popover.bottom {
    margin-top: 10px
}

.popover.left {
    margin-left: -10px
}

.popover-title {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0
}

.popover-content {
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
    font-family: Mulish, sans-serif;
}



.popover>.arrow,
.popover>.arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid
}

.popover>.arrow {
    border-width: 11px
}

.popover>.arrow:after {
    content: "";
    border-width: 10px
}

.popover.top>.arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-color: #999;
    border-top-color: rgba(0, 0, 0, .25);
    border-bottom-width: 0
}

.popover.top>.arrow:after {
    bottom: 1px;
    margin-left: -10px;
    content: " ";
    border-top-color: #fff;
    border-bottom-width: 0
}

.popover.right>.arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-right-color: #999;
    border-right-color: rgba(0, 0, 0, .25);
    border-left-width: 0
}

.popover.right>.arrow:after {
    bottom: -10px;
    left: 1px;
    content: " ";
    border-right-color: #fff;
    border-left-width: 0
}

.popover.bottom>.arrow {
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #999;
    border-bottom-color: rgba(0, 0, 0, .25)
}

.popover.bottom>.arrow:after {
    top: 1px;
    margin-left: -10px;
    content: " ";
    border-top-width: 0;
    border-bottom-color: #fff
}

.popover.left>.arrow {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-right-width: 0;
    border-left-color: #999;
    border-left-color: rgba(0, 0, 0, .25)
}

.popover.left>.arrow:after {
    right: 1px;
    bottom: -10px;
    content: " ";
    border-right-width: 0;
    border-left-color: #fff
}



#anima-comment-popover,
#anima-code-popover {
    background: #333333;
    color: #fff;
}

#anima-comment-popover.top>.arrow,
#anima-comment-popover.top>.arrow:after,
#anima-code-popover.top>.arrow:after,
#anima-code-popover.top>.arrow {
    border-top-color: #333;
}

#anima-comment-popover .btn,
#anima-code-popover .btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 20px;
    background: #FF6250;
    color: #fff;
    border-radius: 100px;
    width: max-content;
    text-decoration: none;
}

@media screen and (max-width: 550px) {
    #anima-watermark-link {
        padding: 6px !important;
    }

    #anima-watermark-link .text {
        display: none !important;
    }
}